@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@500&display=swap");
/* header css  */
header {
  background-color: #1d1c1c;
  /* background-image: url("../images/football.png"); */
  /* background-repeat: no-repeat; */
  /* background-position: right; */
  /* background-size: cover; */
}
header h1 {
  font-family: "Berkshire Swash", cursive;
}
header p {
  font-family: "Manrope", sans-serif;
}
main {
  margin-top: -1px;
}
.fa-circle {
  font-size: 0.2rem;
}
.calculate-final,
h1 {
  color: #ff5e19;
}
